*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cart-icon{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.small-tras{
  display: none;
}


@media (max-width:576px) {
  .small-tras{
    display: block;
  }

  .big-tras{
    display: none;
  }
}